.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 20px 20px;
  width: 90%;
  max-width: 900px;
  min-width: 450px;
}

.settingsTitle {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  user-select: none;
}

.settingsSegmentedBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}