body[theme="dark"] {
  --radioBtnContainer: #00007e;
  --radioBtnContainerBorderColor: #f5ffd1;
  --radioBtnBg: #3139ff;
  --radioBtnBgActive: #252eff;
  --radioBtnBgHover: #555bff;
  --radioBtnNotCheckedBgHover: #000bff61;
  --radioBtnNotCheckedBgActive: #0007ab61;
}

body[theme="light"] {
  --radioBtnContainer: #73a2ff;
  --radioBtnContainerBorderColor: #0022e1;
  --radioBtnBg: #cad9ff;
  --radioBtnBgActive: #b2c8ff;
  --radioBtnBgHover: #dde6fb;
  --radioBtnNotCheckedBgHover: #ffffff24;
  --radioBtnNotCheckedBgActive: #ffffff4c;
}

.difficultForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.radioBtnContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 7px 12px;
  background: var(--radioBtnContainer);
  border: 3px solid var(--radioBtnContainerBorderColor);
  border-radius: 10px;
}

.radioBtn {
  flex-grow: 1;
  user-select: none;
}

.radioBtn input {
  display: none;
}

.radioBtn label {
  padding: 3px 5px;
  display: flex;
  border-radius: 7px;
  cursor: pointer;
  justify-content: center;
  transition: 0.2s;
}

.radioBtn input[type="radio"]:checked + label {
  background: var(--radioBtnBg);
}

.radioBtn input[type="radio"]:checked + label:hover {
  background: var(--radioBtnBgHover);
}

.radioBtn input[type="radio"]:checked + label:active {
  background: var(--radioBtnBgActive);
}

.radioBtn input[type="radio"] + label:hover {
  background: var(--radioBtnNotCheckedBgHover);
}

.radioBtn input[type="radio"] + label:active {
  background: var(--radioBtnNotCheckedBgActive);
}

.numberInputsContainer {
  display: flex;
  justify-content: space-around;
}

.numberInputsContainer .numberInputContainer {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border: 2px solid;
  background: var(--radioBtnBgActive);
  border-color: var(--radioBtnContainerBorderColor);
  border-radius: 5px;
}

.numberInputsContainer.disabled .numberInputContainer {
  border-color: rgba(0, 0, 0, 0);
  background: var(--radioBtnNotCheckedBgActive);
}

.numberInputIcon {
  display: flex;
  fill: var(--gameInfoSectionColor);
}

.numberInputsContainer input {
  background: none;
  font-size: inherit;
  color: inherit;
  width: 50px;
  padding: 3px 5px;
  border: none;
  outline: none;
}

.numberInputsContainer input::-webkit-inner-spin-button {
  display: none;
}

.submitBtn {
  cursor: pointer;
  transition: 0.3s;
  width: 30%;
  align-self: center;
  color: inherit;
  font-size: inherit;
  padding: 7px 0px;
  border-radius: 7px;
  background: var(--radioBtnBg);
  border: 2px solid var(--radioBtnContainerBorderColor);
}

.submitBtn:hover {
  background: var(--radioBtnBgHover);
}

.submitBtn:active {
  transform: scale(0.95);
  background: var(--radioBtnBgActive);
}