body[theme="dark"] {
  --switchedBtnColor: blue;
  --switchedBtnBg: #001dc3;
  --switchedBtnBorderColor: #f5ffd1;
  --switchedBtnIndicatorBg: #ffffff;
}

body[theme="light"] {
  --switchedBtnColor: blue;
  --switchedBtnBg: #8093ff;
  --switchedBtnBorderColor: #0039ff;
  --switchedBtnIndicatorBg: #3140ff;
}

.switchedBtn {
  position: relative;
  transition: 0.3s;
  display: flex;
  cursor: pointer;
  width: 60px;
  height: 30px;
  padding: 3px;
  background: var(--switchedBtnBg);
  border: 2px solid var(--switchedBtnBorderColor);
  border-radius: 5px;
  color: var(--switchedBtnColor);
  font-size: 16px;
}

.switchedBtn:active {
  transform: scale(0.95);
}

.switchedBtn:hover {
  animation: borderAnimation 10s linear infinite;
}

.switchedBtnSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.switchedBtnIndicator {
  position: absolute;
  background: var(--switchedBtnIndicatorBg);
  width: 25px;
  height: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.switchedBtnIndicator[name="left"] {
  transform: translateX(0);
}
.switchedBtnIndicator[name="right"] {
  transform: translateX(26px);
}

@keyframes borderAnimation {
  0% {border-color: var(--switchedBtnBorderColor);}
  8.3% {border-color: blue;}
  24.9% {border-color: violet;}
  41.5% {border-color: red;}
  58.1% {border-color: orange;}
  74.7% {border-color: yellow;}
  91.3% {border-color: green;}
  100% {border-color: var(--switchedBtnBorderColor);}
}
